backports.csv==1.0.7
bleach==2.1.1
bootstrap-admin==0.3.7.1
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
diff-match-patch==20181111
Django==1.11.1
django-allauth==0.33.0
django-appconf==1.0.2
django-ckeditor==5.7.1
django-cors-headers==3.0.2
django-crispy-forms==1.6.1
django-filter==2.1.0
django-formtools==2.1
django-haystack==2.8.1
django-imagekit==4.0.1
django-import-export==1.2.0
django-js-asset==1.2.2
django-markdown-deux==1.0.5
django-pydash-app==1.4.6
django-redis==4.9.0
django-reversion==3.0.4
djangorestframework==3.9.2
drf-haystack==1.8.5
elasticsearch==2.4.1
emoji==0.4.5
et-xmlfile==1.0.1
future==0.17.1
gunicorn==19.7.1
html5lib==1.0b10
httplib2==0.18.0
idna==2.6
jdcal==1.4.1
jieba==0.39
Markdown==2.6.8
markdown2==2.3.8
mysqlclient==1.4.2.post1
oauth==1.0.1
oauth2client==4.1.3
oauthlib==2.0.3
odfpy==1.4.0
olefile==0.44
openpyxl==2.6.2
pilkit==2.0
Pillow==4.2.1
pkg-resources==0.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
Pygments==2.2.0
PyMySQL==0.7.11
python-dateutil==2.8.0
python-memcached==1.59
python3-openid==3.1.0
pytz==2017.2
PyYAML==5.1
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
reverse==0.1.0
rsa==4.0
six==1.11.0
sqlparse==0.3.0
tablib==0.13.0
urllib3==1.22
user-agent==0.1.9
webencodings==0.5.1
Whoosh==2.7.4
xadmin==0.6.1
xlrd==1.2.0
xlwt==1.3.0
